---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About | Andrew Williams</title>
	</head>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
	<body>
		<h1>About</h1>
        <h2>Andrew Williams</h2>
        <p>I am going through the Astro tutorial to set up a website. There will be more updates as I progress.</p>
        <p>Look forward to more updates in the future!</p>
	</body>
</html>
