---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true}));
const pageTitle = "Andrew Williams | Blog";
---
<BaseLayout pageTitle={pageTitle}>
	<p>Here is where I'll be posting updates about my journey learning Astro.</p>
	<u1>
		{allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</u1>
</BaseLayout>