---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog | Andrew Williams</title>
	</head>
    <a href="/">Home</a>
    <a href="about">About</a>
	<a href="blog">Blog</a>
	<body>
		<h1>Blog</h1>
        <h2>Andrew Williams</h2>
        <p>Here is where I'll be posting updates about my journey learning Astro.</p>
	</body>
</html>
